<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary"><small> COPYRIGHT &copy; 2024 SHREEDURGA TRAVELS, BBSR</small></span>
        </div>
        <ul class="col-md-3 justify-content-center list-unstyled d-flex mt-3">
            <li class="ms-3">
                <i class="bi bi-facebook"></i>
            </li>
            <li class="ms-3">
                <i class="bi bi-instagram"></i>
            </li>
            <li class="ms-3">
                <i class="bi bi-whatsapp"></i>
            </li>
        </ul>
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary"><small>Developed By {{ author }} with </small> <a class="bi bi-bootstrap-fill text-dark" href={{bootstrapUrl}}></a></span>
        </div>
    </footer>
</div>